

.container-signIn{
    position: absolute;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 655px;
    width: 100%;
    @import url('https://fonts.googleapis.com/css2?family=Abel&family=Koulen&display=swap');
    font-family: 'Abel', sans-serif;
}

.card-container-signIn{
    width: 30%;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 15px 25px rgba(197, 187, 187, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.24);
    padding: 10px;
    text-align: start;
    margin-top: 10%;
}